/* line 1, ../../../app/stylesheets/application.sass */
body {
  margin: 20px 20px 20px 20px; }

/* line 3, ../../../app/stylesheets/application.sass */
ul {
  margin: 0;
  padding: 0; }

/* line 7, ../../../app/stylesheets/application.sass */
a {
  color: #3DA9F0;
  text-decoration: none; }
  /* line 10, ../../../app/stylesheets/application.sass */
  a:hover {
    color: #0E7AEB; }

/* line 14, ../../../app/stylesheets/application.sass */
#wrapper {
  width: 960px;
  margin: 0 auto;
  font-size: 1.2em; }

/* line 19, ../../../app/stylesheets/application.sass */
#header {
  margin: 0 0 25px 0; }
  /* line 21, ../../../app/stylesheets/application.sass */
  #header #nav {
    float: right; }
    /* line 23, ../../../app/stylesheets/application.sass */
    #header #nav li {
      display: inline;
      border-right: 1px solid #666;
      padding: 0 5px 0 0; }
      /* line 27, ../../../app/stylesheets/application.sass */
      #header #nav li:last-child {
        border: none; }

/* line 30, ../../../app/stylesheets/application.sass */
#footer {
  clear: both;
  margin-top: 25px; }
  /* line 33, ../../../app/stylesheets/application.sass */
  #footer p.copy {
    font-size: .8em;
    font-style: italic; }
