/* line 1, ../../../app/stylesheets/typography.sass */
body {
  font: 12px/14px "Helvetica", "Helvetica Neue", arial, sans-serif; }

/* line 4, ../../../app/stylesheets/typography.sass */
h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0 0 0; }

/* line 8, ../../../app/stylesheets/typography.sass */
h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 1em 0; }

/* line 13, ../../../app/stylesheets/typography.sass */
h3 {
  font-size: 15px;
  font-weight: bold;
  margin: .8em 0; }

/* line 18, ../../../app/stylesheets/typography.sass */
h4 {
  font-size: 8px;
  font-weight: bold;
  margin: .8em 0; }

/* line 23, ../../../app/stylesheets/typography.sass */
h5 {
  font-size: .5em;
  font-weight: bold;
  margin: .8em 0; }
