body
  :margin 20px 20px 20px 20px
ul
  :margin 0
  :padding 0

a
  :color #3DA9F0
  :text-decoration none
  &:hover
    :color #0E7AEB
    
  
#wrapper
  :width 960px
  :margin 0 auto
  :font-size 1.2em

#header
  :margin 0 0 25px 0
  #nav
    :float right
    li
      :display inline
      :border-right 1px solid #666
      :padding 0 5px 0 0
      &:last-child
        :border none

#footer
  :clear both
  :margin-top 25px
  p.copy 
    :font-size .8em
    :font-style italic