body
  :font 12px/14px "Helvetica", "Helvetica Neue", arial, sans-serif
  
h1
  :font-size 30px
  :font-weight bold
  :margin 10px 0 0 0
h2
  :font-size 20px
  :font-weight bold
  :margin 1em 0
  
h3
  :font-size 15px
  :font-weight bold
  :margin .8em 0
  
h4
  :font-size 8px
  :font-weight bold
  :margin .8em 0
  
h5
  :font-size .5em
  :font-weight bold
  :margin .8em 0
  
            